body{
  margin:0;


}
main {
  height:90vh;
  background:linear-gradient(DarkOrange, Aquamarine,Beige );
  border:2px solid red;
  background-size: 100% 200%;
  background-position:top;
transition: 4s ease;
display:flex;
align-items: center;
justify-content: center;
background: url("../assests/outer-space.png");
}

main:hover {
  background-position:center;
}
h1 {
  color:Aquamarine;
  font-family: sans-serif;
  font-size: 6em;
}
header {
  height: 150px;
  display: flex;
  align-items: center;
  padding:25px;
  /* background: url("../assests/outer-space.png"); */
  background:linear-gradient(blue,green);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;


}

h2 {
  color: white;
}
/* Background Image */
