body {
    margin:0px;
    background-color:#FFB5C3;
    font-family: "Helvetica";
    color:white;
    box-sizing:border-box;


}

header {
background-color:#FFB5C3;
justify-content: space-between;
text-align:center;
width: auto;
height:25%;

/* border-bottom: 3px solid light pink; */

}


header h1 {
font-size:60px;
text-align:center;
justify-content:center;

}

.header-svg{
    display:flex;
    justify-content: left;
    align-items:left;
}



nav {


}

nav a {
color:inherit;
text-decoration:none;
display:block;
padding:20px;

}
nav ul {
 padding-left:0px;
 display:flex;
 justify-content:center;
 margin:0px;
 align-items:center;
}

nav li {
list-style-type:none;
display:flex;
align-items:center;
justify-content:center;
border-radius:0px 0px 10px 10px
transition:0.3s;
line-height:1em;
height:90px;
flex:1;
text-align:center;
text-decoration:none;
text-decoration-style:wavy;
text-decoration-color:transparent;
/* background:linear-gradient(to bottom,light pink); */
border-top:10px solid pink;
border-bottom:10px solid pink;


}
nav li:hover {
background-color:white;
color:#ef5f89;
font-size:16pt;
/* text-decoration:underline; */
border-radius: 20px 20px 20px 20px;


}




.top-icon {
display:flex;
align-items:left;
justify-content:left;
height:20vh;
}

.hero:hover {
color:#ef5f89;
transition:0.5s;
}

main {
display:flex;
justify-content:center;
align-items:center;
margin:20%;
font-size:12pt;
text-align:center;

}

.about-me-right h4{
    font-size:20pt;
}

.about{
margin-bottom:150px;
}
.about-me-left{
display:flex;
justify-content:center;
align-items:center;
}
.about-me-right{
height:250px;
}
.about-me-left .about-me-right{
flex:1;
}

.about-me-picture{
background-image:url("../assets/pfp-img.png");
width:300px;
height:300px;
background-size:cover;
background-position:center center;
border-radius:50%;
border:5px solid white;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6)

}

.about-me-right p{
    margin-bottom:50px;
}





footer {
display:flex;
justify-content:center;
align-items:center;
position:fixed;
background:black;
bottom:0px;
text-align:center;
width:100%;
}

header svg{
    width:10%;
}
