@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
  margin:0;
  font-family:"Montserrat";
}

/* MAIN PAGE CSS */
#main-page{
margin:5%;
box-sizing:border-box;
width:90%;
border:5px solid #e1a177;
margin:5% auto;

}
/* HEADER CSS */
header {
display:flex;
justify-content:space-between;
align-items:center;
background-color:chocolate;
padding: 5px 25px;

}
.header-left {
  font-family:"Lobster";
  font-size:18pt;
}

.header-right img{
  width:100%;
}



/* NAV CSS */
nav {

}
nav ul {
  display:flex;
  margin:0;
  padding-left:0px;
  justify-content:space-around;
  

}
nav li {
  list-style-type:none;
  display:inline;
  flex:1;
  text-align:center;
  padding:20px;
  border-radius:0px 0px 10px 10px;
  transition:0.3s;
}

nav a {
text-decoration:none;
color:#e1a177;
}




/* CONTENT CSS */
main {

  height:auto;

}
/* FOOTER CSS */
footer{
display:flex;
background-color:blanchedalmond;
display:flex;
justify-content:space-between;
align-items:center;
border-color:#e1a177;

}
.footer-left img{
  width:100%;
}


.footer-left {
flex:1;
}

.footer-center {
flex:1;
color:white;
}
.footer-right {
flex:1;
color:white;

}

.footer-center a {
  color:white;
  
}

.footer-right a {
  color:white;
}









/* JS DEMO 1 */
.about-text {
  display:none;
}
.reveal {
  display:block;
}

#date-element {
  text-align:center;
}

.time-wrapper {
  background-color:#e1a177;
  height:400px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  color:white;
  background-image: url("../assets/photos/coffee2.jpg");
  background-size:cover;
  background-position:center 80%;
  background-attachment:;
  
}

.time-wrapper h4{
  font-size:4rem;
  text-shadow: 2px 3px 0px black;
  font-family:"Lobster";
}