@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
body {
  background-color:black;
  background-image: url("../assets/2-headed-dragon.png");
  font-family: "Aboreto";
  background-size:100%;
  background-position:top center;
  background-repeat:no-repeat;
  
  
  
}


header {
  padding:auto;
  font-family:"Cinzel";
font-size:12pt;
color:red;
display:flex;
justify-content:center;
align-items:center;

}

nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-family:"Cinzel";
  margin-top:150px;
  

}
nav ul {
  /* margin:0px; */
display:flex;
justify-content:space-between;
align-items:center;
width:140%;

}
nav li {
list-style-type:none;
color:red;
font-family:"Cinzel";
font-size:8pt;
}
nav a {
  text-decoration:none;
}
nav li:hover {
  color: rgb(255,150,0);
  transition:0.3s;
  font-size:10pt;
  
}

.scroll {
background-image:url("../assets/scroll-wallpaper.jpeg");
background-size:cover;
background-repeat:no-repeat;
width:100%;
min-height:1000px;
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
padding:30px 30px 30px 30px;
}

h2 {
  color:white; 
}

.scroll>img {
  width:250px;
}


footer {

}

.spacer {
  height:300px;

}

.scroll-content{
  text-align:center;
}