@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
body {
  background-color:black;
  background-image: url("../assets/2-headed-dragon-masked.png");
  font-family: "Aboreto";
  background-size:100%;
  background-position:top center;
  background-repeat:no-repeat;
  margin:0px;
  
  
}


header {
  padding:auto;
  font-family:"Cinzel";
font-size:12pt;
color:rgb(178, 34, 34);
display:flex;
justify-content:center;
align-items:center;

}

nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-family:"Cinzel";
  margin-top:180px;
  

}
nav ul {
  /* margin:0px; */
display:flex;
justify-content:space-between;
align-items:center;
width:140%;

}
nav li {
list-style-type:none;
color:rgb(178, 34, 34);
font-family:"Cinzel";
font-size:8pt;
border-radius:0px 0px 10px 10px;
}
nav a {
  text-decoration:none;
}
nav li:hover {
  color:white;
  transition:0.4s;
  font-size:10pt;
  background-color:rgb(178, 34, 34);
  border-radius:0px 0px 0px 0px;
  
  
}

.top-image img {
  
  width:100%;
  margin-top:20%;
}


.scroll {
background-image:url("../assets/scroll-wallpaper.png");
background-size:cover;
background-repeat:no-repeat;
width:100%;
/* min-height:1000px; */
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
padding:20px;
margin-top:80px;
box-sizing:border-box;
}

.scroll-header h2 {
  text-align:center;
  font-weight: bold;
}

.scroll>img {
  width:250px;

}




.spacer {
  height:300px;

}

.scroll header {
  color:black;
}

.scroll-content{
  text-align:left;

}

.scroll-content h3 {
  text-align:center;
  /* color:rgb(178, 34, 34); */
  color:rgb(178, 34, 34);
  text-decoration: underline;
  

}

.scroll-content p {
  text-align:center;
  padding:10px;
}


main{
  color:black;
  
}
.bottom-image-left img {
  width:10%px;
}